/* Dashbaord.css - Bryce Mercines 2017 */

* {
  box-sizing: border-box;
}

#search {
  background-image: url('../assets/img/searchicon.png');
  background-position: 10px 12px;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ddd;
  margin-bottom: 12px;
}

#rdata {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rdata li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#rdata li a:hover:not(.header) {
  background-color: #eee;
  transition: 0.3s;
}

#editor {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

#code-loader {
  display: none;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

#code_bank {
  margin: 10px;
  display: none;
}
