/*
Superfresh Template
http://www.templatemo.com/free-website-templates/
*/

body {
	background: #fff;
	font-family: 'lane_-_narrowregular', sans-serif;
	line-height: 30px;
}
@font-face {
	font-family: 'lane_-_narrowregular';
	src: url('../fonts/LANENAR_-webfont.eot');
	src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/LANENAR_-webfont.woff') format('woff'), url('../fonts/LANENAR_-webfont.ttf') format('truetype'), url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1, p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
h2, h3 {
	font-weight: bold;
}
hr {
	border-color: #e01179;
	opacity: 0.3;
}
img {
	max-width: 100%;
	height: auto;
	transition: all 0.3s ease-in;
}
img:hover {
	cursor: pointer;
	opacity: 0.5;
}
/* navigation */
.navbar-default {
	background: #fff;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
	margin: 0 !important;
}
.navbar-default .navbar-brand {
	background: #e01179;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	line-height: 50px;
	height: 90px;
	margin: 0;
	padding: 20px 20px 40px 20px;
}
.navbar-default .navbar-brand:hover {
	background: #e01179;
}
.navbar-default .navbar-nav li a {
	border-right: 1px solid #f9f9f9;
	color: #202020;
	font-weight: bold;
	padding-right: 40px;
	padding-left: 40px;
	line-height: 60px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e01179;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e01179;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #e01179;
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent
}
/* home section */
#home {
	background: url('../images/home-bg.jpg')no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 600px;
	padding-top: 220px;
	padding-bottom: 100px;
}
#home h1 {
	color: #e01179;
	font-weight: 300;
	padding-bottom: 10px;
}
#home h2 {
	line-height: 10px;
}
#home .btn {
	background: transparent;
	border: 2px solid #303030;
	border-radius: 0;
	color: #303030;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding-top: 14px;
	width: 200px;
	height: 50px;
	margin-top: 20px;
}
#home .btn:hover {
	background: #e01179;
	border-color: transparent;
	color: #fff;
}
/* service section */
#service {
	padding-top: 100px;
	padding-bottom: 80px;
}
#service h2 {
	border-left: 2px solid #e01179;
	display: inline-block;
	padding: 20px;
}
#service .fa {
	border-top: 4px solid #e01179;
	border-bottom: 4px solid #e01179;
	border-radius: 50%;
	font-size: 26px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	vertical-align: middle;
	margin-top: 60px;
	margin-bottom: 10px;
}
/* about section */
#about {
	padding-top: 60px;
	padding-bottom: 80px;
}
#about h2 {
	border-right: 2px solid #e01179;
	display: inline-block;
	padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
	text-align: center;
	padding-bottom: 60px;
}
#about img {
	border: 2px solid #202020;
	padding: 10px;
}
#about h4 {
	padding-bottom: 10px;
}
/* team section */
#team {
	padding-top: 60px;
	padding-bottom: 100px;
}
#team h2 {
	border-left: 2px solid #e01179;
	display: inline-block;
	padding: 10px 10px 10px 20px;
}
#team .col-md-12 {
	text-align: center;
	padding-bottom: 60px;
}
#team img {
	border: 2px solid #202020;
	padding: 20px;
}
/* portfolio section */
#portfolio {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 60px;
}
#portfolio h2 {
	border-right: 2px solid #e01179;
	display: inline-block;
	padding: 10px 20px 10px 10px;
}
/* FILTER CSS */
.filter-wrapper {
	width: 100%;
	margin: 0 0 24px 0;
	overflow: hidden;
	text-align: center;
}
.filter-wrapper li {
	display: inline-block;
	margin: 4px;
}
.filter-wrapper li a {
	color: #999999;
	font-size: 16px;
	font-family: 'lane_-_narrowregular', sans-serif;
	font-weight: bold;
	padding: 8px 17px;
	display: block;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected, .filter-wrapper li a:focus, .filter-wrapper li a:hover {
	background: #e01179;
	border-color: transparent;
	color: #ffffff;
}
/* ISOTOPE BOX CSS */
.iso-box-section {
	width: 100%;
}
.iso-box-wrapper {
	width: 100%;
	padding: 0;
	clear: both;
	position: relative;
}
.iso-box {
	position: relative;
	min-height: 50px;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
.iso-box > a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fluid-img {
	width: 100%;
	display: block;
}
/* pricing section */
#pricing {
	padding-top: 60px;
	padding-bottom: 80px;
	text-align: center;
}
#pricing h2 {
	border-left: 2px solid #e01179;
	display: inline-block;
	padding: 10px 10px 10px 20px;
}
#pricing .plan {
	border: 2px solid #202020;
	padding: 20px 20px 40px 20px;
	margin-top: 60px;
}
#pricing .plan .plan-title {
	border-bottom: 2px solid #202020;
	padding: 20px 10px;
	margin-bottom: 20px;
}
#pricing .plan small, #pricing .plan ul li {
	font-family: 'Raleway', sans-serif;
}
#pricing .plan ul {
	padding: 0;
}
#pricing .plan ul li {
	display: block;
	padding: 16px 0;
}
#pricing .plan .btn {
	background: transparent;
	border: 2px solid #202020;
	border-radius: 0;
	color: #202020;
	width: 140px;
	height: 50px;
}
#pricing .plan .btn:hover {
	background: #e01179;
	border-color: transparent;
}
/* contact section */
#contact {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
#contact h2 {
	border-right: 2px solid #e01179;
	display: inline-block;
	padding: 10px 20px 10px 10px;
	margin-bottom: 60px;
}
#contact .form-control {
	border: 2px solid #202020;
	border-radius: 0;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
}
#contact .form-control:focus {
	opacity: 0.8;
	position: relative;
	bottom: 10px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background: #202020;
	color: #ffffff;
	height: 54px;
}
#contact input[type="submit"]:hover {
	background: #e01179;
	border-color: transparent;
}
#contact p {
	padding-top: 10px;
}
.form-control::-moz-placeholder {
	color: #202020;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #202020;
}
.form-control::-webkit-input-placeholder {
	color: #202020;
}
/* footer section */
footer {
	padding-top: 60px;
	padding-bottom: 60px;
}
footer h2 {
	border-bottom: 2px solid #202020;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
footer p {
	line-height: 20px;
}
footer span {
	font-weight: bold;
	padding-left: 20px;
}
.social-icons {
	padding: 0;
	margin: 0;
}
.social-icons li {
	display: inline-block;
	list-style: none;
}
.social-icons li a {
	background: #202020;
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
}
.social-icons li a:hover {
	background: #e01179;
}
/* copyright section */
.copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
/* scrolltop section */
.go-top {
	background-color: #e01179;
	font-size: 26px;
	bottom: 2em;
	right: 2em;
	color: #FFF;
	display: none;
	position: fixed;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 58px;
	text-align: center;
}
.go-top:hover {
	color: #ffffff;
}

/* media 960 */
@media only screen and ( max-width: 980px ) {
.navbar-default .navbar-nav li a {
	padding-right: 20px;
	padding-left: 20px;
	line-height: 60px;
}
}

/* media 360 */
@media only screen and ( max-width: 360px ) {
#team h4 {
	padding-bottom: 30px;
}
}