html {
  overflow: hidden;
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  line-height: 1.5;
  background: -webkit-linear-gradient(#41616d, #294c57);
  background:    -moz-linear-gradient(#41616d, #294c57);
  background:      -o-linear-gradient(#41616d, #294c57);
  background:     -ms-linear-gradient(#41616d, #294c57);
  background:         linear-gradient(#41616d, #294c57);
}
a {
  text-decoration: none;
  color: #00a7de;
  color: rgba(0, 167, 222, 0.4);
}
a:focus {
  outline: thin dotted;
  color: #00a7de;
  color: rgba(0, 167, 222, 0.8);
}
a:active,
a:hover {
  outline: 0;
  color: #00a7de;
  color: rgba(0, 167, 222, 0.8);
}
#pond {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div[role="banner"] {
  position: absolute;
  top: 9px;
  left: 18px;
  z-index: 2;
}
div[role="content-info"] {
  position: absolute;
  bottom: 9px;
  right: 18px;
  z-index: 2;
}
