body {
	font-family: 'Poppins', sans-serif;
	color: #2c3e50;
}

a {
	transition: all .3s;
}

/*	FORMS
*/
.form-control {
	border: 2px solid #cbd0d3;
	border-radius: 0;
	padding: 0 25px;
	line-height: 45px;
	height: 45px;
}

/*	EXTRA CLASSES
*/
.margin-zero {
	margin: 0;
}
.margin-top-md {
	margin-top: 30px;
}
.margin-bottom-md {
	margin-top: 30px;
}
.letter-spacing-sm {
	letter-spacing: 1px;
}
.letter-spacing-md {
	letter-spacing: 2px;
}
.letter-spacing-lg {
	letter-spacing: 4px;
}

.font-weight-sm {
	font-weight: 300;
}
.font-weight-md {
	font-weight: 600;
}
.font-weight-lg {
	font-weight: 900;
}

.font-size-sm {
	font-size: 11px;
}
.font-size-md {
	font-size: 18px;
}
.font-size-lg {
	font-size: 36px;
}

/*	COLORS
*/

.color-grey {
	color: #bdc3c7;
}
.color-light {
	color: #f6f8f9;
}
.color-dark {
	color: #333;
}
.color-primary {
	color: #1abc9c;
}
.color-success {
	color: #2ecc71;
}
.color-info {
	color: #2ecc71;
}
.color-warning {
	color: #e67e22;
}
.color-danger {
	color: #e74c3c;
}

/*	BACKGROUNDS
*/
.background-grey {
	background-color: #bdc3c7;
}
.background-light {
	background-color: #f6f8f9;
}
.background-dark {
	background-color: #2c3e50;
}
.background-primary {
	background-color: #1abc9c;
}
.background-success {
	background-color: #2ecc71;
}
.background-info {
	background-color: #2ecc71;
}
.background-warning {
	background-color: #e67e22;
}
.background-danger {
	background-color: #e74c3c;
}
.dark-bg, .dark-bg a, .dark-bg a:hover {
	color: #FFF;
}

/*	ELEMENTS
*/
.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	font-size: 12px;
	padding: 0 30px;
	line-height: 50px;
}
.btn-xs {
	padding: 0 20px;
	line-height: 30px;
	font-size: 10px;
}
.btn-sm {
	padding: 0 25px;
	line-height: 40px;
	font-size: 11px;
}
.btn-md {
	padding: 0 30px;
	line-height: 50px;
}
.btn-lg {
	padding: 0 45px;
	line-height: 70px;
	font-size: 14px;
}

.btn-default {
	background-color: #34495e;
	color: #FFF;
}
.btn-default:hover {
	background-color: #2c3e50;
	color: #FFF;
}

.btn-primary {
	background-color: #1abc9c
}
.btn-primary:hover {
	background-color: #16a085
}

.btn-success {
	background-color: #2ecc71;
}
.btn-success:hover {
	background-color: #27ae60;
}

.btn-info {
	background-color: #3498db;
}
.btn-info:hover {
	background-color: #2980b9;
}

.btn-warning {
	background-color: #e67e22;
}
.btn-warning:hover {
	background-color: #d35400;
}

.btn-danger {
	background-color: #e74c3c;
}
.btn-danger:hover {
	background-color: #c0392b;
}
.btn-link {}

/*	NAVBAR
*/
.navbar-default {
	background-color: #f6f8f9;
	border: none;
	margin-bottom: 0;
}
.navbar-default .navbar-brand {
	color: #2c3e50;
}
.navbar-toggle {
	border-radius: 0;
	margin-top: 22px;
	transition: all .3s;
}
.navbar-default .navbar-toggle {
	border-color: #2c3e50;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #2c3e50;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #bdc3c7;
}
.navbar-brand, .navbar-nav>li>a {
	line-height: 80px;
	font-weight: bold;
	height: 80px;
	padding: 0 15px;
	letter-spacing: -0.025eml
}
.navbar-brand {
	font-size: 24px;
	letter-spacing: -0.05em;
}
.navbar-nav>li>a {
	font-weight: 600;
	font-size: 12px;
	text-transform: none;
}
.navbar-default .navbar-nav>li>a {
	color: #2c3e50;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #FFF;
}

/*	DROPDOWN
*/
.dropdown-menu {
	background: #FFF;
    border: none;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}

/*	SECTIONS
*/
.section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.section .background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

h2.section-title {
	font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    margin-bottom: 80px;
}
p.section-description {
	font-weight: lighter;
	font-size: 16px;
}
h2.section-title + p {
	margin-top: -70px;
	margin-bottom: 80px;
}
/*	SECTION HERO
*/
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
}
.hero h2 {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: bold;
	display: inline-block;
	padding: 30px 60px;
	border: 1px solid;
}
.hero p.lead {
	margin: 30px 0;
	margin-bottom: 40px;
	max-width: 70%;
}
.hero.text-center p.lead {
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}
.hero.text-right p.lead {
	margin-right: 0;
	margin-left: auto;
}

/*	SERVICE BLOCK
*/
.service-block {
	display: block;
	margin-bottom: 30px;
}
.service-block i {
	width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    font-size: 25px;
    background: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
}
.service-block h3 {
	text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    margin: 30px 0;
    line-height: 1;
}
.service-block.text-center p {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.service-block.text-center p + a.btn {
	margin-top: 10px;
}

/*	BLOG
*/
.entry {
	margin-bottom: 30px;
}
.entry-media {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	height: 150px;
}
.entry-media a {
	display: block;
}
.entry-media .absolute-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	display: none;
	opacity: 0;
	transition: all .5s;
	background-color: rgba(255,255,255,.5);
	z-index: 1;
}
.entry:hover .absolute-wrapper {
	visibility: visible;
	display: block;
	opacity: 1;
	background-color: rgba(255,255,255,.5);
}
.entry-title {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
	line-height: 1;
}
.entry-title a {
	color: initial;
}
.entry-title a:hover {
	text-decoration: none;
}
.entry p {
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 1.8;
}