<div class="home">
<div class="text-center">

	<div class="vertical-space"></div>
	<h1><a class="github-button" href="https://github.com/samuelbetio" data-size="large" data-show-count="true" aria-label="Follow @DownGit on GitHub">Follow @DownGit</a></h1>
	<div class="center-row"></div>
	<h4>Create GitHub Directory Download Link</h4>
	
	
	
	<div class="vertical-space"></div>
	<div class="col-md-6 center-row">
		<input name="url" type="url" placeholder="GitHub Directory Link" class="form-control" ng-model="url" ></input>
	</div>
	<div class="btn-group center-row">
		<button type="button" class="btn btn-default" ng-click="createDownLink()">Create Download Link</button>
		<a type="button" class="btn btn-default" ng-href="#home?url={{url}}">Download</a>
		<a  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FdGitFile.ua%2F&width=100&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="100" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> </a>
	</div>
	
	
	
	<div ng-show="isProcessing.val">
		<div class="vertical-space"></div>
		<img class="processing-img" src="res/images/processing.gif" />
		<p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
	</div>
	
	
	<div class="col-md-6 center-row" ng-show="downUrl">
		<div class="vertical-space"></div>
		<textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
	</div>
	
	
	<div class="vertical-space"></div>
	<div class="footer">
		<a target="_blank" href="https://samuelbetio.github.io/dGitFile/#/home">&copy; 2014<script>new Date().getFullYear()>2014&&document.write("-"+new Date().getFullYear());</script> Samuel Rapana Betio</a>. All Rights Reserved. <a target="_blank" href="https://samuelbetio.github.io/salique/privacy.html">Privacy Policy</a>
	</div>
	
</div>
</div>
